@import './base.css';
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800&display=swap");

* {
  font-family: "Tajawal";
}

p{
    color: rgba(140, 140, 140, 1);
}
